#course-card {
  padding: 60px 0;
  .course-card {
    .div {
      display: flex;
      align-items: center;
      justify-content: center;
      .line {
        width: 60px;
        height: 4px;
        background-color: #ffb606;
        margin: 20px 0;
      }
    }
    h1 {
      text-align: center;
      margin-bottom: 60px;
      font-weight: 600;
    }
    .search-sort{
      padding: 30px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      input{
        width: 600px;
        border: 1px solid rgb(218, 218, 218);
        outline: 0;
        padding: 8px 20px;
        font-weight: 700;
        &:focus {
          border: 1px solid #ffb606;
        }
      }
      button{
        width: 150px;
        padding: 10px 20px;
        background-color: #ffb606;
        color: #fff;
        border: 0;
        outline: 0;
        font-weight: 700;
        font-size: 15px;
        cursor: pointer;
        &:hover {
          box-shadow: 0px 0px 5px 0px rgb(167, 167, 167);
        }
      }
    }
    .icon{
      display: flex;
      justify-content: center;
      margin-top: 20px;
      .fa-solid{
        color: red;
      }
    }
    .cards {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 20px;
      flex-wrap: wrap;
      .card {
        width: 32%;
        .img {
          img {
            width: 385px;
          }
        }
        .about {
          background-color: #f8f9fb;
          text-align: center;
          h3 {
            font-weight: 500;
            padding-top: 40px;
            font-size: 22px;
          }
          p {
            font-weight: 700;
            color: #a5a5a5;
            font-size: 14px;
          }
        }
        .btn {
          margin-top: 40px;
          display: flex;
          justify-content: center;
          button {
            border: 0;
            outline: 0;
            background-color: #ffb606;
            padding: 10px 20px;
            color: #ffffff;
            font-weight: 700;
            cursor: pointer;
            transition: all 0.3s;
            &:hover {
              box-shadow: 0px 0px 5px 0px rgb(31, 31, 31);
            }
          }
        }
        .author {
          margin-top: 40px;
          display: flex;
          justify-content: space-between;
          background-color: #eaebec;
          .authorName {
            display: flex;
            align-items: center;
            column-gap: 40px;
            padding: 10px;
            .img {
              padding-left: 20px;
              img {
                width: 45px;
                height: 45px;
                border-radius: 50%;
              }
            }
            h4 {
              font-size: 14px;
              font-weight: 400;
              span {
                font-weight: 700;
                color: #a5a5a5;
              }
            }
          }
          .price {
            background-color: #ffb606;
            padding: 20px;
            color: white;
            display: flex;
            align-items: center;
            p {
              font-weight: 700;
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}
